body{
    background-image: url("./img/beautifull-cherry-blossom-background-free-vector.jpg");    
}
.profile{
    transform: translateX(42%);
}



.glass-container{
    width: 900px;
    height: 900px;
    position: relative;
    z-index: 1;
   background: rgba(190, 188, 190, 0.685);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   border: 1px solid #fff;
}
